<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.dao.BlogDao">

     <select id="findBlogs" resultType="map">
           select * from blog  
     </select>
     <select id="findBlogById" resultType="map">
           select * from blog where id=#{id} 
     </select>
       
</mapper>




